name: remind_me_ds
description: "Remind Me(ds) - Your meds, your schedule, and your health cared for."
publish_to: "none"

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  supabase_flutter: ^2.6.0
  flutter_local_notifications: ^17.2.2
  intl: ^0.19.0
  timezone: ^0.9.3
  http: ^1.2.0

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
